.login-MainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: var(--black);
}
.login-Container {
  width: 516px;
  min-height: 509px;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.login-Header {
  margin-top: 90px;
}
.login-text-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--black);
  font-weight: normal;
}
.login-text-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 55px;
  color: var(--black);
}
.login-Google {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-Google1 {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 48px;
  width: 276px;
  height: 64px;
  border: 1px solid #000000;
  border-radius: 106px;
  margin-top: 85px;
  color: #343a40;
  font-size: 16px;
}
.login-Email {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.login-Email1 {
  font-weight: 550;
}
