:root {
  --black: #343a40;
  --lightgrey: #e5e5e5;
  --grey: #adb5bd;
  --green: #ccf148;
  --darkgreen: #7d8c0b;
  --yellow: #f2e206;
  --white: #ffffff;
  --notif: #fda600;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
